<div class="container">
  <app-carrousel class="container-carrousel"/>
  <div class="container-form-login">
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput [formControl]="userControl">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [formControl]="passControl">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="logIn()">Iniciar sesión</button>
    <a href="https://www.facebook.com/" target="registrarse">Registrarme</a>
    <button mat-raised-button><mat-icon>facebook</mat-icon> Iniciar sesión con Facebook</button>
  </div>
</div>
