<div>
  <div>
    <div>div para foto</div>
    <div>
      <h3>{{recipe.title}}</h3>
      <hr>
      <div><p>{{recipe.preparationTime}}</p></div>
      <div>
        <div>foto perfil</div>
        <p>{{recipe.description}}</p>
      </div>
    </div>
  </div>

  <div>
    <div>
      <h3>Ingregientes</h3>
      <ul>
        <li><div>imagen</div><p>200 gramos de queso</p></li>
        <li><div>imagen</div><p>200 gramos de queso</p></li>
        <li><div>imagen</div><p>200 gramos de queso</p></li>
        <li><div>imagen</div><p>200 gramos de queso</p></li>
        <li><div>imagen</div><p>200 gramos de queso</p></li>
      </ul>
    </div>
    <div>
      <h3>Preparación</h3>
      <ul>
        <li>1 paso</li>
        <li>2 paso</li>
        <li>3 paso</li>
        <li>4 paso</li>
        <li>5 paso</li>
      </ul>
    </div>
  </div>

</div>
