<mat-toolbar >
  <button mat-icon-button aria-label="icon-drawer" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="over" opened="false">
    <button mat-raised-button class="drawer-button" [ngStyle]="idButtonSelected == 0 ? {'background-color': primaryColor} : {'background-color': secondaryColor}" routerLink="/inicio/recetas">Recetas</button>
    <button mat-raised-button class="drawer-button" [ngStyle]="idButtonSelected == 1 ? {'background-color': primaryColor} : {'background-color': secondaryColor}" routerLink="/inicio/menus">Menús</button>
    <button mat-raised-button class="drawer-button" [ngStyle]="idButtonSelected == 2 ? {'background-color': primaryColor} : {'background-color': secondaryColor}" routerLink="/inicio/mis-recetas">Mis recetas</button>
    <button mat-raised-button class="drawer-button" (click)="logOut()">Cerrar sesión</button>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
