<mat-toolbar>
  <button mat-icon-button aria-label="icon-drawer" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer mode="side" opened>
    <button mat-raised-button color="primary" class="drawer-button">Recetas</button>
    <button mat-raised-button color="primary" class="drawer-button">Menús</button>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
